.underline{
    background: lightgray;
    border-radius: 50%;
    width: 80%;
    height: 2px;
    border: solid 1px lightgray;
    margin: auto;
    margin-bottom: 30px;
  }
  .links{
      font-size: smaller;
      display: inline;
  }
  .contact{
      padding-top: 100px;
      width: 100%;
      position: relative;
      flex-wrap: wrap;
      min-height: calc(100vh - 56px);
      
      &-image{
          
          background: #ffffff55 url('https://images.wallpaperscraft.com/image/planet_galaxy_universe_121293_1280x1280.jpg') center center / cover;
       
  
          @media screen and (max-width: 2000px) {
              height: 200px;
              width: 100%;
              clip-path: polygon(0 0, 100% 0%, 100% 90%, 50% 100%, 0 90%);
          }
      }
    
  }