a {
    background-color:magenta;
    color: white;
    padding-left: auto;
    padding-top: auto;
    padding-bottom: auto;
    padding-right: auto;
    text-decoration: double;
    text-transform: uppercase;
    display: inline;
    
  }
  
  /* Non-Demo Styles */
  body {
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    height: 100vh;
    
  }
  h1 {
    font-size: 38px;
    font-style:  oblique;
    font-weight: bolder;
    color:rebeccapurple;
    text-decoration-style: solid;
    text-decoration: underline;
  }

