// 
.underline{
    background: lightgray;
    border-radius: 50%;
    width: 80%;
    height: 2px;
    border: solid 1px lightgray;
    margin: auto;
    margin-bottom: 30px;
  }
  .card {
    font: outline;
    align-content: center;
    padding-top: 56px;
    padding-bottom: 56px;
    padding-left: 50px;
    padding-right: 50px;
    width: 35%;
    // position: relative;
    // display: flex;
    // flex-wrap: wrap-reverse;
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 50px;
    margin-right: 150px;
   border-style: groove;
   border-radius: 5px;
   border-color: rebeccapurple;
   text-align: center;
   white-space: pre-wrap;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   
  }

  